{% if module.variant == 'var-01' %}
<div class="main-container">
  {% for member in module.member_box %}  
    <div class="member-box">
      <div class="image-box">
       <img src="{{ member.member_photo.src }}" alt="{{ member.member_photo.alt }}">
      </div>
      <div class="name-box">
        {% inline_text field="member_name" value="{{ member.member_name }}" %}
      </div>
      <div class="position">
        {% inline_text field="member_position" value="{{ member.member_position }}" %}
      </div>
      <div class="social-icons">
        {% for item in member.social_icons %}
          <div class="icon-div">
            <a href="{{ item.icon_link }}">{% icon
               name="{{ item.social_icon.name }}"
               style="{{ item.social_icon.type }}"
               unicode="{{ item.social_icon.unicode }}"
               icon_set="{{ item.social_icon.icon_set }}"
            %}
            </a>  
          </div>
        {% endfor %}
      </div>
      <div class="bio-box">
        {% inline_text field="member_info" value="{{ member.member_info }}" %}
      </div>
    </div>
  {% endfor %}
</div>  
{% endif %}
